apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: gcr.io/google-samples/gb-frontend
    newName: gcr.io/google-samples/hello-app
    newTag: "2.0"

patches:
  - target:
      kind: Deployment
      name: guestbook-ui
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
